.navigation{
    display: flex!important;
    justify-content:space-between!important;
}

.logo-container{
    padding: 20px 0 20px 10px
}

.links-container{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    margin-inline-end: 2%;
}